@import '_offsets'

body
  padding-bottom 0
  font-size 16px
  height: 100vh
  overflow: hidden
  background: $blue-grey-1
  &:not(.admin)
    img
      width 100%

.q-carousel__navigation-inner
  img
    width: auto !important

.wrap
  max-width: 1270px
  margin: auto
  width: 100%

.q-avatar
  overflow: hidden

.grecaptcha-badge
  visibility: hidden

.ql-editor
  min-height: 600px

iframe:not(.main__map)
  width: 100%
  height: 400px
  padding: 20px
  @media (min-width: 992px)
    width: 80%
    left: 50%
    height: 800px
    position: relative
    transform translateX(-50%)





iframe#webpack-dev-server-client-overlay
  transform initial
  padding: 0


// quill editor
.ql-align-right
  text-align: right
.ql-align-center
  text-align: center
.ql-align-justify
  text-align: justify
