// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$my_color1 = #30496B
$my_color2 = #30B8D2
$radial_gradient = radial-gradient(rgba($my_color1, .8), rgba($my_color2, .8)) !important
$linear_gradient = linear-gradient(180deg, rgba($my_color1, .9), rgba($my_color2, .9)) !important
